circle {
  fill: orange;
  stroke: red;
  stroke-width: 5px;
}

line {
  stroke: orange;
  stroke-width: 5px;
}

polyline {
  fill: none;
  stroke: red;
  stroke-width: 5px;
}

path {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
